@model RegisterViewModel

<h2>Registration page</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input type="text" class="form-control" asp-for="Email" id="Email" placeholder="Email">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" id="Password" placeholder="Password">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

